Web References/wcfLoginDominio/Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.47/wsLogin/Login.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.47/wsLogin/Login.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.47/wsLogin/Login.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLoginLDAP.LDAP" />
      <xsd:import schemaLocation="http://192.168.100.47/wsLogin/Login.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfLoginLDAP" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogin_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ILogin_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_Autenticar_InputMessage">
    <wsdl:part name="parameters" element="tns:Autenticar" />
  </wsdl:message>
  <wsdl:message name="ILogin_Autenticar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuarios" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProveedores" />
  </wsdl:message>
  <wsdl:message name="ILogin_ObtenerTodosProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTodosProveedoresResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/GetData" message="tns:ILogin_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/GetDataResponse" message="tns:ILogin_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Autenticar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/Autenticar" message="tns:ILogin_Autenticar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/AutenticarResponse" message="tns:ILogin_Autenticar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosUsuarios" message="tns:ILogin_ObtenerTodosUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosUsuariosResponse" message="tns:ILogin_ObtenerTodosUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosProveedores" message="tns:ILogin_ObtenerTodosProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/ObtenerTodosProveedoresResponse" message="tns:ILogin_ObtenerTodosProveedores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogin" type="tns:ILogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ILogin/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Autenticar">
      <soap:operation soapAction="http://tempuri.org/ILogin/Autenticar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosUsuarios">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTodosUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTodosProveedores">
      <soap:operation soapAction="http://tempuri.org/ILogin/ObtenerTodosProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="BasicHttpBinding_ILogin" binding="tns:BasicHttpBinding_ILogin">
      <soap:address location="http://192.168.100.47/wsLogin/Login.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>